@import "../../../styles.scss";

.home {
    margin-bottom: 50px;

    &__title {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 1.7rem;
        color: $headline;
    }

    &__intro {
        color: $color-default;
        font-size: 0.9rem;
        line-height: 1rem;
    }
}

.info-headline {
    font-weight: bold;
    font-size: $headline-size-1;
    color: $headline;
    margin-top: 2rem;
    margin-bottom: 1rem;
}