<div class="container home">
    
    <div class="home__title">{{'home.title' | translate}}</div>
    <dl class="row home__intro">
        <dt class="col-md-2">{{'home.when' | translate}}</dt>
        <dd class="col-md-9">{{'home.when-text' | translate}}</dd>

        <dt class="col-md-2">{{'home.registration' | translate}}</dt>
        <dd class="col-md-9">{{'home.registration-text' | translate}}</dd>

        <dt class="col-md-2">{{'home.begin' | translate}}</dt>
        <dd class="col-md-9">{{'home.begin-text' | translate}}</dd>
    </dl>

    <app-dyp-results></app-dyp-results>

    <div class="info-headline">Team-ELO</div>
    <app-dyp-team-elo></app-dyp-team-elo>
    
</div>
      