<div class="container home">
    <mat-card class="dyp-info">
        <mat-card-header>
            <mat-card-title>Kickern in der goldenen Krone Darmstadt</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <dl class="row">
                <dt class="col-md-2">Wann</dt>
                <dd class="col-md-9">jeden Donnerstag</dd>

                <dt class="col-md-2">Anmeldung</dt>
                <dd class="col-md-9">ab 19:30 Uhr</dd>

                <dt class="col-md-2">Beginn</dt>
                <dd class="col-md-9">20:15 Uhr</dd>
            </dl>
        </mat-card-content>
    </mat-card>

    <app-dyp-results></app-dyp-results>
    
</div>
      