<div class="container">
    <div class="player-title">{{(player | async)?.firstName}} {{(player | async)?.lastName}}</div>
    <div class="row">
        <div class="col-md-6">
            <app-player-info [player]="player | async" class="player-info"></app-player-info>
        </div>
        <div class="col-md-6">
            <app-player-scores [player]="player" class="player-chart"></app-player-scores>
        </div>
    </div>      
    <div class="row">
        <div class="col-md-6">
            <h4>Elo-Timeline</h4>
        </div>
        <div class="col-md-6">
            <h4>Platzierungen-Timeline</h4>
        </div>
    </div> 
</div>