<table mat-table [dataSource]="teammates" matSort class="mat-elevation-z8 teammates-table">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="teammates-table__header teammates-table__header__name"> {{'player.leaderboard-teammates.teammate' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="teammates-table__item teammates-table__item__name">
            <a routerLink="/player/{{element.playerId}}">{{element.firstName}} {{element.lastName}}</a>
        </td>
    </ng-container>

    <!-- Win Column -->
    <ng-container matColumnDef="wins">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="teammates-table__header teammates-table__header__wins"> {{'player.leaderboard-teammates.win' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="teammates-table__item teammates-table__item__wins">
            {{element.wins}}
        </td>
    </ng-container>
    
    <!-- Loss Column -->
    <ng-container matColumnDef="loss">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="teammates-table__header teammates-table__header__loss"> {{'player.leaderboard-teammates.loss' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="teammates-table__item teammates-table__item__loss">
            {{element.loss}}
        </td>
    </ng-container>
    
    <!-- Rate Column -->
    <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="teammates-table__header teammates-table__header__rate"> {{'player.leaderboard-teammates.rate' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="teammates-table__item teammates-table__item__rate">
            {{calcRate(element.rate)}} %
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons>
</mat-paginator>