/* Basic colors */
$color-default:                 #404040;
$color-link:                    #FFFFFF;
$color-link-hover:              #FFFFFF;
$color-link-dark:               #000000;
$color-link-dark-hover:         #000000;
$background-highlight:          #EEEEEE;
$background-color-default:      #FCFCFC;
$headline:                      #404040;