@import '~@angular/material/theming';
@include mat-core();

$krone-dyp-primary: mat-palette($mat-gray, 800);
$krone-dyp-accent:  mat-palette($mat-light-green, 700);
$krone-dyp-warn:    mat-palette($mat-deep-orange);

$krone-dyp-theme: mat-light-theme($krone-dyp-primary, $krone-dyp-accent, $krone-dyp-warn);

@include angular-material-theme($krone-dyp-theme);