/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@import 'assets/colors.scss';
@import 'assets/typography.scss';
@import 'assets/theme.scss';

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, span, div, dl, dt, dd {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

a {
    color: #6E9610;
}