<div>
    <mat-toolbar color="primary" class="menu mat-elevation-z2">
        <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        </div>

        <a mat-button class="home" routerLink="/">Krone-DYP</a>
        <span class="fill-remaining-space"></span>
        <div class="player-search">
            <input type="text" placeholder="Name || ID" aria-label="Name || ID" matInput [formControl]="playerControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"  (optionSelected)="playerSelected($event.option.value)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.firstName}} {{option.lastName}}
                </mat-option>
            </mat-autocomplete>
        </div>
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button routerLink="/">{{'menu.results' | translate}}</a>
            <a mat-button routerLink="/scoreboard">{{'menu.leaderboard' | translate}}</a>
        </div>
        <mat-form-field class="lang">
            <mat-select [(value)]="selectedLang" (selectionChange)="languageSelected()" class="lang__box">
                <mat-option value="de" class="lang__option">DE</mat-option>
                <mat-option value="en" class="lang__option">EN</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
            <a mat-button class="side-link" routerLink="/">{{'menu.results' | translate}}</a>
            <a mat-button class="side-link" routerLink="/scoreboard">{{'menu.leaderboard' | translate}}</a>
        </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill class="main">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>