<div>
    <mat-toolbar color="primary" class="menu mat-elevation-z2">
        <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        </div>

        <a mat-button class="home" routerLink="/">Krone-DYP</a>
        <span class="fill-remaining-space"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <div class="player-search">
                <input type="text" placeholder="Spieler" aria-label="Spieler" matInput [formControl]="playerControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"  (optionSelected)="playerSelected($event.option.value)">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.firstName}} {{option.lastName}}
                    </mat-option>
                </mat-autocomplete>
            </div>
            <a mat-button routerLink="/">Ergebnisse</a>
            <a mat-button routerLink="/scoreboard">Rangliste</a>
        </div>

    </mat-toolbar>
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
            <a mat-button class="side-link" routerLink="/">Ergebnisse</a>
            <a mat-button class="side-link" routerLink="/scoreboard">Rangliste</a>
        </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill class="main">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>