@import "../../../styles.scss";

.menu {
    @include mat-elevation(2);
    height: 50px;
}

.home {
    font-size: 120%;
    font-weight: bold;
}

a {
    text-decoration: none !important;
    font-size: 110%;
    min-width: min-content;
    color: $color-link;
    &:hover {
        color: $color-link-hover;
    }
}

.side-link {
    color: $color-link-dark;
    &:hover {
        color: $color-link-dark-hover;
    }
}

button {
    font-size: 110%;
    min-width: min-content;
}

.fill-remaining-space {
    flex: 1 1 auto;
}