@import "../../../styles.scss";

.menu {
    height: 50px;
}

.main {
    background-color: $background-color-default;
}

.home {
    font-size: 120%;
    font-weight: bold;
}

a {
    text-decoration: none !important;
    font-size: 110%;
    min-width: min-content;
    color: $color-link;
    &:hover {
        color: $color-link-hover;
    }
}

.side-link {
    color: $color-link-dark;
    &:hover {
        color: $color-link-dark-hover;
    }
}

button {
    font-size: 110%;
    min-width: min-content;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.player-search {
    display: inline-block;
    height: 35px;
    font-size: 1rem;
    color: $color-default;
    background-color: $background-highlight;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2px;
    border-radius: .2rem;
    margin-right: 1rem;
}

::ng-deep .mat-option-text {
    text-align: left !important;
}

.lang {
    width: 2.5rem;
    padding-top: 7px;
    margin-left: 1rem;
    font-size: 14px;
    &__box {
        text-decoration: none !important;
        font-size: 14px;
        min-width: min-content;
        color: $color-link;
    }
}