.scoreboard {
    margin-top: 50px;
}

.mat-card-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

::ng-deep .scoreboard-table__header__name .mat-sort-header-container {
    justify-content: flex-start;
}

::ng-deep .scoreboard-table__header__points .mat-sort-header-container {
    justify-content: center;
}

::ng-deep .scoreboard-table__header__dyps .mat-sort-header-container {
    justify-content: center;
}

::ng-deep .scoreboard-table__header__elo .mat-sort-header-container {
    justify-content: flex-end;
}

.scoreboard-table {
    width: 100%;

    &__header {
        font-weight: 900;
    }

    &__item {
        &__name {
            text-align: left;
            font-weight: bold;
        }
        
        &__points {
            text-align: center;
        }

        &__dyps {
            text-align: center;
        }
    
        &__elo {
            text-align: right;
        }
    }

}