<div class="player-info">
    <dl class="row player-info__infos">
        <dt class="col-md-4">Elo-Skill</dt>
        <dd class="col-md-6">{{calcElo(player?.stats.elo)}}</dd>
    
        <dt class="col-md-4 text-truncate">Letzte Teilnahme</dt>
        <dd class="col-md-6">{{player?.stats.lastDypDate}}</dd>
    
        <dt class="col-md-4 text-truncate">Teilnahmen gesamt</dt>
        <dd class="col-md-6">{{player?.stats.dyps}}</dd>

        <dt class="col-md-4 text-truncate">Punkte</dt>
        <dd class="col-md-6">{{player?.stats.points}}</dd>
    
        <dt class="col-md-4 text-truncate">Anzahl Spiele</dt>
        <dd class="col-md-6">{{player?.stats.matches}}</dd>
    
        <dt class="col-md-4 text-truncate">Gewonnene Spiele</dt>
        <dd class="col-md-6">{{player?.stats.wins}}</dd>
    
        <dt class="col-md-4 text-truncate">Verlorene Spiele</dt>
        <dd class="col-md-6">{{player?.stats.loss}}</dd>
    
        <dt class="col-md-4 text-truncate">Effektivität</dt>
        <dd class="col-md-6">{{calcEffectivity(player?.stats.effectivity)}}%</dd>
    </dl>
</div>